
<h1>Grading Worksheet</h1>

<table>
  	<tr>
    		<th>Student ID</th>
    		<th>Student Name (Chinese)</th>
   		<th>Nick Name (English)</th>
   		<th>Project (40%)</th>
   		<th>Final (40%)</th>
    		<th>Lab (10%)</th>
    		<th>Class (10%)</th>
    		<th>Sum</th>
    		<th></th>
    		<th></th>
    		<th></th>
  	</tr>

<div>
<% @grades.each do |grade| %>
	
  	<tr>
   		<td><%= grade.num %></td>
   		<td><%= grade.name %></td>
   		<td><%= grade.nick %></td>
   		<td><%= grade.pro %></td>
   		<td><%= grade.exam %></td>
   		<td><%= grade.lab %></td>
    		<td><%= grade.disc %></td>
    		<td><%= grade.pro+grade.lab+grade.exam+grade.disc %></td>
    		<td><%= link_to 'Show', grade %></td>
   		<td><%= link_to 'Edit', edit_grade_path(grade) %></td>
   		<td><%= link_to 'Delete', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 	</tr>
 	
 	
 </div>
<% end %>
</table>

<br />


<%= link_to 'New Grade', new_grade_path %>
<br /><br />
<%= link_to 'Back to pages', :controller => "grades", :action =>"lis", :id =>1 %>
<br />
<a href="javascript:window.close()">CLose</a>